.wd-fourth-col {
    margin-left: 900px;
    margin-top: -455px;
}

.wd-fourth-col .wd-btn-container .btn{
    background-color: #f5f5f5;
    color: #2d3b45;
    border-color: #c7cdd1;
}

.wd-fa-glasses {
    margin-right: 6px;
}



