body * {
    font-family: Arial, Helvetica, sans-serif;
}

.wd-navigation {
    list-style-type: none;
    padding-left: 10px;
    padding-top: 10px;
    justify-content: left;
}

.wd-navigation li a {
    color: red;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.wd-navigation li a.wd-course-name {
    padding-left: 13px;
}

.wd-navigation li {
    padding: 5px;
}

.wd-navigation li a.wd-selected-navigation {
    color: black;
    border-left: 2px black solid;
}

.wd-course-name {
    color: red;
}

.wd-menu {
    color: red;
}

.wd-course-navigation {
    width: 350px;
    margin-left: -3px;
}

.wd-bars {
    font-size: 25px;
    margin-left: 6px;
    color: red;
}

.wd-hr {
    margin-top: -15px;
    width: 330%;
    margin-left: 5px;
}

.wd-nav {
    --bs-breadcrumb-divider:">";
    --aria-label: "breadcrumb";
}

.wd-third-col {
    width: 700px;
    margin-right: 30px;
    margin-left:180px;
    margin-top: -550px;
}

.wd-fourth-col {
    margin-left: 900px;
    margin-top: -400px;
}

.wd-no-wrap {
    white-space: nowrap;
    width: 700px;
}



