.sidebar {
    background-color: black;
    width: 85px;
    padding-top: 10px;
    font-size: medium;
    height: 100vh;
}

.icon-sidebar {
    align-items: baseline;
    align-self: baseline;
}

.menu-icon {
    color: red;
    padding-left: 40px;
    padding-top: 10px;

}

.account-icon {
    color: white;
    padding-left: 40px;
    padding-top: 10px;

}

.wd-sidebar li a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: small;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; 
    align-items: flex-start;  */
}

.wd-navigation {
    list-style-type: none;
    padding-left: 10px;
    padding-top: 10px;
    justify-content: left;
}

.wd-sidebar {
    list-style-type: none;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.wd-course-selected-bg {
    background-color: white;
}

.wd-sidebar li a.wd-course-selected-text {
    color: red;
}

.wd-navigation li a {
    color: red;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.wd-navigation li {
    /* margin: 5px; */
    padding: 5px;
}

.wd-navigation li a.wd-selected-navigation {
    color: black;
    border-left: 2px black solid;
}

.wd-course-name {
    color: red;
}

.wd-neu-logo {
    width: 65px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.wd-menu {
    color: red;
}