.sidebar {
    background-color: black;
    width: 85px;
    padding-top: 10px;
    font-size: medium;
    height: 170vh;
}

.icon-sidebar {
    align-items: baseline;
    align-self: baseline;
}

.menu-icon {
    color: red;
    padding-left: 40px;
    padding-top: 10px;

}

.account-icon {
    color: white;
    padding-left: 40px;
    padding-top: 10px;

}

.wd-sidebar li a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: small;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.wd-navigation {
    list-style-type: none;
    padding-left: 10px;
    padding-top: 10px;
    justify-content: left;
}

.wd-sidebar {
    list-style-type: none;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.wd-course-selected-bg {
    background-color: white;
}

.wd-sidebar li a.wd-course-selected-text {
    color: red;
}

.wd-navigation li a {
    color: red;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.wd-navigation li a.wd-course-name {
    margin: 0px;
    padding: 0px;
}

.wd-navigation li {
    padding: 5px;
}

.wd-navigation li a.wd-selected-navigation {
    color: black;
    border-left: 2px black solid;
}

.wd-course-name {
    color: red;
}

.wd-neu-logo {
    width: 65px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.wd-menu {
    color: red;
}

.wd-course-navigation {
    width: 450px;
}

.wd-third-col {
    margin-top: 90px;
    width: 700px;
    margin-right: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.wd-fourth-col {
    margin-top: 50px;
    margin-right: 30px;
}

.wd-light-grey-button{
    background-color: #f5f5f5;
    color: #2d3b45;
    border-color: #c7cdd1;
}

.wd-fourth-col .btn{
    background-color: #f5f5f5;
    color: #2d3b45;
    border-color: #c7cdd1;
}

.wd-btn-container {
    margin-bottom: 20px;
    justify-content: end;
}

.ms-left {
    padding-left: 30px;
}

.wd-no-underline {
    text-decoration: none;
    color: red;
}

.list-group-item {
    color: #4c5860;
}

.fa-check-square {
    color: limegreen;
}

.float-end i {
    padding: 5px;
}

.wd-ellipsis-color {
    color: #4c5860;
}

.wd-no-wrap {
    white-space: nowrap;
}

.wd-top-bar {
    background-color: black;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.wd-top-bar-elements {
    justify-content: space-between;
}

.wd-top-bar-icons-and-titles {
    color: #ffff;
}

.wd-top-bar-icons {
    background-color: black;
}

.wd-top-bar-titles {
    margin-bottom: 0px;
}

.wd-kanbas-menu-container {
    margin-top: 20px;
}

.wd-kanbas-menu-container li{
    list-style-type: none
}

/* Custom breakpoint at 1300px */
@media (min-width: 1300px) {
    .d-show-fourth-col {
        display: block !important;
    }
}

/* Custom breakpoint at 900px */
@media (min-width: 900px) {
    .d-show-navigation {
        display: block !important;
    }
    .wd-third-col {
        margin-left: -180px;
    }
}

@media (max-width: 900px) {
    .d-show-top-bar {
        display: block !important;
    }


    .wd-third-col {
        margin-top: 100px;
        position: absolute;
    }
}
